h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

section {
    border-left: 3px solid #ABBF3B;
    padding-left: 5%;
}

hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

section div {
    display: flex;
    flex-wrap: wrap;
    gap: 3px 3%;
}

section div div {
    display: flex;
    flex-direction: column;
    width: 210px;
}

article {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.div-mapa {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    display: flex;
    justify-content: right;
}

.painel-florestal {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    max-width: 42%;
}

.btn-Painel-Florestal {
    padding-left: 0;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
}

.dvi-florestas-producao {
    box-sizing: border-box;
    display: flex;
    max-height: 88px;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

.dvi-florestas-producao-true {
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    /* background-color: transparent; */
    background: #ABBF3B26;

    border: none;
    outline: none;
    border: 1px solid #ABBF3B;
    border-radius: 13px;
    padding: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #FFFFFF;
}

.dvi-florestas-producao-false {
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: transparent;
    /* background: #ABBF3B26; */

    border: none;
    outline: none;
    /* border: 1px solid #ABBF3B; */
    border-radius: 13px;
    padding: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #FFFFFF;
}

.btn-Filtrar-Parametros {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    height: 88px;
    border: 1px solid #FFFFFF;
    border-radius: 13px;
    box-shadow: none;
    padding: 20px;
    margin-top: 8%;
    margin-bottom: 8%;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #FFFFFF;
}

.div-grafico {
    display: flex;
    gap: 10px 0;
    max-width: 100% !important;
}

.div-infromacoes {
   width: 1000px;
    margin-top: 15%;
}

.div-infromacoes h3 {
    line-height: 15px;
}