/* .div-floresta-fundo img{
    background-image: url('../../assets/imageFundoRede.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: fixed;
    
} */
#imgfundo {
    width: 100%;
    position: absolute;
    height: 113.5vh;
    opacity: 0.5;
}

.div-pagina-inicial-pai {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.div-pagina-inicial-pai img {
    position: relative;
    top: -130px;
    z-index: 0;
}

.div-pagina-inicial {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    row-gap: 86px;
    z-index: 0;
}

.div-pagina-inicial h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 60px;
    width: 716px;
    color: #ABBF3B;
}

.div-pagina-inicial h3 {
    width: 559px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.div-pagina-inicial button {
    width: 420px;
    height: 62.28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
    background: #85962B;
    border-radius: 79px;
    border: none;
}

.div-pagina-inicial h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.div-pagina-inicial img {
    position: static;
}

.div-pagina-intermediaria-pai {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-pagina-intermediaria-pai span {
    display: flex;
    justify-content: center;
    width: 795px;
    padding: 24px 94px;
    border: 1px solid #FFFFFF;
    border-radius: 61px;
}

.div-pagina-linhaDoTempo {
    height: 80em;
    width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -.25em;
    background: #FFFFFF;
}

.div-pagina-linhaDoTempo img {
    width: 235px;
    height: 183px;
    border-radius: 30px;
}

.div-pagina-linhaDoTempo-esquerda {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 60em;
    position: relative;
    right: 951px;
}

.div-pagina-linhaDoTempo-esquerda h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    text-align: right;
    color: #ABBF3B;
}

.div-pagina-linhaDoTempo-esquerda h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    text-align: right;
    color: #FFFFFF;
}

.div-pagina-linhaDoTempo-direita {
    display: flex;
    align-items: center;
    width: 60em;
    position: relative;
    right: 7px;
}

.div-pagina-linhaDoTempo-direita h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    color: #ABBF3B;
}

.div-pagina-linhaDoTempo-direita h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #FFFFFF;
}

.div-pagina-linhaDoTempo hr {
    background: #FFFFFF;
    height: 1px;
    width: 5em;
    margin: 0;
}

.div-pagina-linhaDoTempo-img-text-esquerda {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 5%;
    width: 700px;
}

.div-pagina-linhaDoTempo-img-text-direita {
    display: flex;
    align-items: center;
    column-gap: 5%;
    width: 700px;
}

.div-pagina-linhaDoTempo-bolinha {
    width: 1em;
    height: 1em;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.div-pagina-final-pai {
    background-image: url('../../assets/FundoBanners.png');
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.div-pagina-final-filho-acima {
    display: flex;
    align-items: center;
}

.imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem img {
    width: 700px;
}

.imagem span {
    position: relative;
    top: 50px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 551px;
    height: 88px;
    background: #85962B;
    border-radius: 8px;
}

.imagem h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.texto {
    width: 793px;
    height: 440px;
    border-radius: 8px 8px 8px 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: linear-gradient(180deg, rgba(41, 51, 34, 0.85) 0%, rgba(123, 153, 102, 0.85) 100%);
    padding: 4em;
    display: flex;
    flex-direction: column;
    row-gap: 3em;
    align-items: center;
}

.texto h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #B4CA3B;
}

.texto h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.texto span {
    width: 420px;
    height: 62.28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17.1383px 30.4681px;
    column-gap: 2em;
    background: #85962B;
    border-radius: 79px;
    position: absolute;
    bottom: -2em;
}

.div-pagina-final-filho-abaixo {
    display: flex;
    align-items: center;
}

.modal-folha-dentro {
    width: 784px;
    background: linear-gradient(105.74deg, #192511 8.54%, #76833B 124.78%, #D1E756 124.78%);
    border-radius: 10px;
    padding-left: 2em;
    padding-top: 4em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.modal-folha-dentro h2 {
    width: 700px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.modal-folha-dentro h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 5px;
    color: #FFFFFF;
}

.modal-folha-dentro img {
    width: 292px;
}

#posicao-x {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

#logofundo {
    background-image: url('../../assets/fmaisBranco2.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 100px;
}