.div-pagina-inicial-pai {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.div-pagina-inicial-pai img {
    position: relative;
    top: -130px;
}

.div-pagina-inicial {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    row-gap: 86px;
}

.div-pagina-inicial h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 60px;
    width: 716px;
    color: #ABBF3B;
}

.div-pagina-inicial h3 {
    width: 559px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.div-pagina-inicial button {
    width: 420px;
    height: 62.28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
    background: #85962B;
    border-radius: 79px;
    border: none;
}

.div-pagina-inicial h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.div-pagina-inicial img {
    position: static;
}

.div-pagina-intermediaria-pai {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-pagina-intermediaria-pai span {
    display: flex;
    justify-content: center;
    width: 795px;
    padding: 24px 94px;
    border: 1px solid #FFFFFF;
    border-radius: 61px;
}

.div-pagina-linhaDoTempo {
    height: 55em;
    width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -.25em;
    background: #FFFFFF;
}

.div-pagina-linhaDoTempo img {
    width: 235px;
    height: 183px;
}

.div-pagina-linhaDoTempo-esquerda {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 60em;
    position: relative;
    right: 951px;
}

.div-pagina-linhaDoTempo-esquerda h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    text-align: right;
    color: #ABBF3B;
}

.div-pagina-linhaDoTempo-esquerda h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    text-align: right;
    color: #FFFFFF;
}

.div-pagina-linhaDoTempo-direita {
    display: flex;
    align-items: center;
    width: 60em;
    position: relative;
    right: 7px;
}

.div-pagina-linhaDoTempo-direita h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    color: #ABBF3B;
}

.div-pagina-linhaDoTempo-direita h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #FFFFFF;
}

.div-pagina-linhaDoTempo hr {
    background: #FFFFFF;
    height: 1px;
    width: 5em;
    margin: 0;
}

.div-pagina-linhaDoTempo-img-text-esquerda {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 5%;
    width: 700px;
}

.div-pagina-linhaDoTempo-img-text-direita {
    display: flex;
    align-items: center;
    column-gap: 5%;
    width: 700px;
}

.div-pagina-linhaDoTempo-bolinha {
    width: 1em;
    height: 1em;
    background-color: #FFFFFF;
    border-radius: 50%;
}