.classe-header {
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
}

.classe-header h1 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

}