/* .planode-fundo {
    height: 100% !important;
} */

.container-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    z-index: 1;
}

.container-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.logo {
    max-width: 514px;
}

.container-left-text {
    max-width: 604px;
    max-height: 240px;
    margin-top: 5%;
}

.container-left-text h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    max-width: 512px;
    max-height: 84px;
}

.container-left-text p {
    margin-top: 2%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    width: 604px;
    height: 138px;
    max-width: 604px;
    max-height: 138px;
}

.acesso {
    max-width: 591px;
    max-height: 552px;
    margin-top: 5%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
}

.acesso-btn {
    max-width: 591px;
    max-height: 120px;
    margin-bottom: 5%;
    cursor: pointer;
    border-style: solid solid none none;
    border-width: medium;
    border-top-right-radius: 11px;
    border-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acesso-btn h2 {
    max-width: 207;
    max-height: 26px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 2%;
}

.acesso-btn h3 {
    max-width: 475px;
    max-height: 52px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.acesso-btn-div img {
    max-width: 48px;
    max-height: 48px;
}

.acesso-btn-div {
    width: 77px;
    height: 120px;
    background: #ABBF3B;
    border: 1px solid #ABBF3B;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 19px;
}


.mascara {
    mask-image: url('../../assets/linhasSVG.svg');
    mask-repeat: no-repeat;
    mask-position: 165% -300px;
    mask-size: 68%;
}

.video {
    height: 1330px;
}